<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- load the properties file -->
	<context:property-placeholder location="classpath:robot.properties"/>

    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean id="mySubtask"
    	class="com.samuelvazquez.SubtaskServiceHelper">
    </bean>
    <bean id="myRobot"
    	class="com.samuelvazquez.Robot">
    	<!-- set up constructor injection -->
    	<constructor-arg ref="mySubtask"/>
    </bean>
    
    <bean id="myKidRobot"
    	class="com.samuelvazquez.KidRobot">
    	<!-- set up setter injection -->
    	<property name="service" ref="mySubtask"/>
    	<property name="name" value="${foo.name}" />
    	<property name="brand" value="${foo.brand}"/>
    </bean>
</beans>





