<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean id="myFortune"
    	class="com.samuelvazquez.HappyFortuneService">
    </bean>
    <!-- first bean for this spring application -->
    <bean id="myCoach" 
    	class="com.samuelvazquez.TrackCoach">
    	<!-- set up constructor injection -->
    	<constructor-arg ref="myFortune" />
    </bean>
    <!-- bean for PracticeActivity1 -->
    <bean id="myNewCoach"
    	class="com.samuelvazquez.SoccerCoach">
    </bean>
    <!-- bean for setter injection -->
    <bean id="myCricketCoach"
    	class="com.samuelvazquez.CricketCoach">
    	<!-- set up setter injection -->
    	<property name="fortuneService" ref="myFortune" />
    </bean>
</beans>





